
 <div class="section-title">
 <h2>Twoja lista powiadomień</h2>
          </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
 

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa komunikatu </th>
    <ng-container *matCellDef="let element">
      <td *ngIf="element.isNew; else normal" mat-cell style="background-color: PaleGreen;" > {{element.invitationType}} </td>

      <ng-template  #normal>
        <td mat-cell > {{element.notificationName}} </td>
      </ng-template >

    </ng-container>
  </ng-container>

  <ng-container matColumnDef="userSender">
    <th mat-header-cell *matHeaderCellDef> Nazwa użytkownika </th>
    <ng-container *matCellDef="let element">
      <td *ngIf="element.isNew; else normal" mat-cell style="background-color: PaleGreen;" > {{element.sender}} </td>

      <ng-template  #normal>
        <td mat-cell > {{element.notificationName}} </td>
      </ng-template >

    </ng-container>
  </ng-container>
  <ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef> Nazwa eventu </th>
    <ng-container *matCellDef="let element">
      <td *ngIf="element.isNew; else normal" mat-cell style="background-color: PaleGreen;" > {{element.eventName}} </td>

      <ng-template  #normal>
        <td mat-cell > {{element.notificationName}} </td>
      </ng-template >

    </ng-container>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="accept">
    <th mat-header-cell *matHeaderCellDef> Zatwierdź </th>
    <ng-container *matCellDef="let element">

     <td mat-cell *ngIf="element.isNew; else normal" style="background-color: PaleGreen;"> <button [disabled]="!element.isNew" mat-button (click)="setNot(element.invitationId)">Zatwierdź</button> </td>

      <ng-template  #normal>
          <td mat-cell> <button [disabled]="!element.isNew" mat-button (click)="setNot(element.invitationId)">Zatwierdź</button> </td>
      </ng-template >

    </ng-container>
  </ng-container>

  <!-- Symbol Column -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
